@model IEnumerable<IDefaultEntity>
@{
    string modelName = Model.GetType().GetGenericArguments()[0].Name.ToString();
}
<div class="container-fluid px-4">
    <h1 class="mt-4">@(modelName)s</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-area="admin" asp-controller="home" asp-action="index">Dashboard</a></li>
        <li class="breadcrumb-item active">Tables</li>
    </ol>
    <a asp-controller="@modelName.ToLower()" asp-action="create" class="btn btn-outline-primary mb-3">Create @modelName</a>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            @(modelName)s Table
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Created At</th>
                        <th>Settings</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (IDefaultEntity item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.CreatedAt.ToShortDateString()</td>
                            <td>
                                <a asp-controller="@modelName.ToLower()" asp-action="update" asp-route-id="@item.Id" class="btn btn-info">update</a>
                                <a asp-controller="@modelName.ToLower()" asp-action="delete" asp-route-id="@item.Id" class="btn btn-info">delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
