@model RegisterVM
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Account</h3></div>
                <div class="text-danger text-center">
                    @Html.ValidationMessage("Error")
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input class="form-control" asp-for="@Model.Username" placeholder="Enter username" />
                                    <label asp-for="@Model.Username"></label>
                                    <span class="text-danger" asp-validation-for="@Model.Username"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input class="form-control" asp-for="@Model.Email" type="text" placeholder="Enter email" />
                                    <label asp-for="@Model.Email"></label>
                                    <span class="text-danger" asp-validation-for="@Model.Email"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input class="form-control" asp-for="@Model.Password" placeholder="Create a password" />
                                    <label asp-for="@Model.Password"></label>
                                    <span class="text-danger" asp-validation-for="@Model.Password"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input class="form-control" asp-for="@Model.RePassword" placeholder="Confirm password" />
                                    <label asp-for="@Model.RePassword"></label>
                                    <span class="text-danger" asp-validation-for="@Model.RePassword"></span>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4 mb-0">
                            <div class="d-grid"><button class="btn btn-primary btn-block" type="submit">Create Account</button></div>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center py-3">
                    <div class="small"><a asp-controller="authentication" asp-action="login">Have an account? Go to login</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
